.verify {
  min-height: 60vh;
  display: grid;
}

.verify .spinner {
  place-self: center;
  width: 100px;
  height: 100px;
  border: 5px solid #bdbdbd;
  border-top-color: tomato;
  border-radius: 50px;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}
