.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.navbar-menu li {
  cursor: pointer;
  position: relative;
}
.navbar-menu li::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 2.5px;
  width: 0px;
  background-color: #49557e;
  transition: all 0.5s ease-out;
}
.navbar-menu li:hover::before {
  width: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
}
